@model CloudyShop.Models.CreateAccountViewModel
@{
    ViewBag.Title = "Profile";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->
<div class="row" style="margin:200px 180px">
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="~/Uploads/images/user.png">
                </div>

                <h3 class="profile-username text-center">@Model.FullName</h3>

                <p class="text-muted text-center">@Model.Roles</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Tham gia từ: </b> <a class="float-right"></a>
                    </li>
                    <li class="list-group-item">
                        <b>Following</b> <a class="float-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Friends</b> <a class="float-right">13,287</a>
                    </li>
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Thông tin tài khoản</a></li>
                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Lịch sử đơn hàng</a></li>
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <div class=" active tab-pane" id="settings">
                            @using (Html.BeginForm("PostProfile", "Account"))
                            {
                                @Html.ValidationSummary(false)
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Full Name</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" name="FullName" value="@Model.FullName">

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Username</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" name="UserName" value="@Model.UserName" readonly>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Phone</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" name="Phone" value="@Model.Phone">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Email</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp" name="Email" value="@Model.Email" readonly>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-success">Cập nhật</button>
                                    </div>
                                </div>
                            }
                    </div>
                    <div class="tab-pane" id="timeline">
                        @Html.Action("LichSuDonHang", "Review")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>