@model IEnumerable<CloudyShop.Models.ShoppingCartItem>
@using CloudyShop.Common
@if (Model != null && Model.Any())
{
    decimal phivc = 30000;
    <h3>Giỏ hàng</h3>
    var i = 0;
    var tongtien = decimal.Zero;
    <div style="border:1px solid #808080">
        <table class="table">
            @foreach (var item in Model)
            {
                tongtien += @item.TotalPrice;
                <tr>
                    <td>@(i+1)</td>
                    <td width="400">@item.ProductName</td>
                    <td>@Common.FormatNumber(item.Price, 0)x @item.Quantity</td>
                </tr>
                <tr></tr>
                i++;
            }

            @if(tongtien>300000){
                phivc = 0;
            }
            else
            {
                tongtien = tongtien + phivc;
            }
          <tr>
                <td colspan="2" style="font-weight:bold; text-align:right">Phí vận chuyển:</td>
                <td style="font-weight:bold; width:150px;">@Common.FormatNumber(phivc, 0) VND</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight:bold; text-align:right">Tổng tiền:</td>
                <td style="font-weight:bold">@Common.FormatNumber(tongtien, 0) VND</td>
            </tr>
        </table>
    </div>
 }
